@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
    --text-color: #09090E;
    --placeholder-color: #5C5A87;
    --input-color: #f1f1ff;
    --background-color:aliceblue;
}
body {
    background: linear-gradient(90deg, #E9E9FF,#C8C7FF);
}
.main-content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 700px;
    background:var(--background-color);
    border-radius: 32px;
    margin: 150px 370px;
    animation: backgroundAnimation 5s linear infinite;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header .logo {
    font-size: 24px;
    background-color: #5C5A87;
    padding: 4px;
    border-radius: 8px;
}
.header h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
}
.header .light-dark {
    /* background-color: #5C5A87; */
}
.theme-toggle {
    font-size: 24px;
    border: none;
    background-color: #5C5A87;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}
.theme-toggle:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
@keyframes backgroundAnimation {
    0% {
        box-shadow: 0 0 20px 5px #C8C7FF;
    }
    50% {
        box-shadow: 0 0 20px 5px #E9E9FF;
    }
    100% {
        box-shadow: 0 0 20px 5px #C8C7FF;
    }
}