@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
    --text-color: #09090E;
    --placeholder-color: #5C5A87;
    --input-color: #f1f1ff;
    --background-color:aliceblue;
}
body {
    background: linear-gradient(90deg, #E9E9FF,#C8C7FF);
    /* background-color: white; */
    /* color: black; */
    /* transition: background-color 0.3s, color 0.3s; */
}
/* body.dark-mode {
    background-color: #121212;
    color: white;
} */
.main-content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 650px;
    animation: backgroundAnimation 5s linear infinite;
    margin: 100px 390px;
    border-radius: 32px;
    background:var(--background-color);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.header .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    font-size: 24px;
    background-color: #7370a2;
}
.header h1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
    text-shadow: 0 0 8px #C8C7FF;
}
.theme-toggle {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    background-color: #7370a2;
    cursor: pointer;
}
.theme-toggle:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: rgb(207, 205, 205);
}
.text-area {
    width: 100%;
    height: 155px;
    animation: backgroundAnimation 5s linear infinite;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 1px solid #5C5A87;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--input-color);
}
.text-area::placeholder {           
    font-size: 16px;                                                                    
    color: var(--placeholder-color);
}
.text-area:hover {
    outline: none;
    box-shadow: 0 0 5px 2px #C8C7FF;
    transition: 0.3s;
}
.prompt-btn {
    position: absolute;
    right: 460px;
    top: 295px;
    
    padding: 4px 6px 6px 4px;
    border: none;
    border-radius: 50%;
    
    font-size: 22px;
    background-color: #7370a2;
    box-shadow: 0 0 5px 2px #C8C7FF;

    resize: vertical;
    cursor: pointer;
}
.prompt-btn:hover {
    transform: scale(1.05);
    transition: ease-in 0.3s;
    background-color: #5a52e0;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.custom-select {
    margin-bottom: 45px;
    padding: 4px;
    border: none;
    border-radius: 6px;
    background-color: #7875aa;
    cursor: pointer;
    text-shadow: 0 0 6px #C8C7FF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--text-color);
    box-shadow: 0 0 5px 2px #C8C7FF;
    /* animation: backgroundAnimation 2s linear infinite; */
}
.options .custom-select:hover {
    outline: none;
    transform: scale(1.05);
    transition: 0.3s;
}
.generateBtn {
    font-size: 18px;
    padding: 4px;
    margin-bottom: 45px;
    border: none;
    border-radius: 6px;
    background-color: #7875aa;
    cursor: pointer;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    text-shadow: 0 0 6px #C8C7FF;
    box-shadow: 0 0 5px 2px #C8C7FF;
    /* animation: backgroundAnimation 5s linear infinite; */
}
.generateBtn:hover {
    outline: none;
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #5a52e0;
}
.gallery-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.image-card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 16px;
    background: var(--input-color);
    border: 1px solid #5C5A87;
    outline: none;
}
.image-card:not(.loading):hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.image-card.loading :is(.result-img,.img-overlay) {
    filter: blur(5px);
    pointer-events: none;
}

.result-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));   
}
.img-overlay .img-download-btn {
    height: 45px;
    width: 45px;
    color: #fff;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(255,255,255,0.25);
    transition: all 0.3s ease;
}
.img-overlay .img-download-btn:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.4);
}
/* Status container */
.status-container {
    display: none;
    padding: 50px 20px;
    gap: 13px;
    flex-direction: column;
    align-items: center;
}
.gallery-grid .image-card.loading .status-container {
    display: flex;
    
} 
.status-container .spinner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #5C5A87;
    border-top-color: #7370a2; 
    animation: spin 1s linear infinite;
}
.status-container .status-text {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    text-shadow: 0 0 6px #C8C7FF;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}







@keyframes backgroundAnimation {
    0% {
        box-shadow: 0 0 20px 6px #C8C7FF;
    }
    50% {
        box-shadow: 0 0 20px 6px #E9E9FF;
    }
    100% {
        box-shadow: 0 0 20px 6px #C8C7FF;
    }
}